<?php
	date_default_timezone_set('Asia/Hong_Kong');

	/**
	 * Domains environments
	 * IMPORTANT: This lines on the top of the file
	 */
	Configure::write('Environment.domains', array(
		'production' => '^(.+\.)?sodamallapp\.com$',
		'staging' => '^(.+\.)?happyfansclub\.vtl-lab\.com$',
		'development' => '.*',
	));

	// Configure::write('Routing.prefixes', array(
	// 	'admin'
	// ));

	/**
	 * Development settings
	 */
	Environment::write(array(
 		'debug' => 2,
 		'Security.salt' => 'ISDU898AdjlakJDASSDKANLmHDLZXLKM7983LJKS', // 40 charaters long Security.salt
 		'Security.cipherSeed' => '32984038533582395728988589743', // 29 digits long Security.cipherSeed
 		'Config.timezone' => 'Asia/Hong_Kong',
        
        'physical_source' => '/Applications/XAMPP/htdocs/shkp/',
 		'Session' => array(
 			'defaults' => 'php',
			'timeout' => 240, // 4 hours
 			'cookie' => 'acx_pos_dev' // Cookie name
 		),

		'redis' => array(
			'engine' => 'Redis',
			'prefix' => 'shkp',
			'server' => '127.0.0.1',
			'database' => 0,
			'port' => 6379,
			'password' => false,
			'timeout' => 0,
			'persistent' => true,
			'unix_socket' => false
		),		

 		'database' => array(
			'host' => 'localhost',
			'login' => 'root',
			'password' => '',
			'db' => 'acx_dev',
			'prefix' => 'acx_',
			'encoding' => 'utf8mb4',
			'unix_socket' => '/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock'
		),

        'email' => array(
			'receiver' => 'ivan.pujianto@vtl-vtl.com',
            'transport' => 'Smtp',
			'host' => 'ssl://smtp.gmail.com',
			'port' => 465,
            'timeout' => '',
            'from' => array('ivan.pujianto@vtl-vtl.com' => 'VTL Admin'),
			'username' => 'ivan.pujianto@vtl-vtl.com',
			'password' => '',
			'emailFormat' => 'html',
			'charset' => 'utf8',
			'headerCharset' => 'utf8',
			'log' => '',
            'tls' => true
		),
		
		'web' => array(
			'url_host' => 'http://localhost/acx/',
            'url_img' => 'http://localhost/acx/img/',
            'limit_record' => 10
 		),

		'push' => array(
			'ios' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			),
			'aos' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			)
		),

 		'site' => array(
			'default_language' => 'eng',
			'available_languages' => array( 'eng', 'zho' ),
 			'name' => 'ACX', // Site name
 			'description' => '', // Site description in meta tag
 			'keywords' => '', // Site keywords in meta tag
 			'cache_prefix' => 'acx_dev_' // cache prefix
 		),
		
		'poweredby' => array(
			'name' => 'VTL Solutions Ltd.',
			'website' => 'http://vtl-vtl.com'
		)
	), 'development');

	/**
	 * staging settings
	 */
	Environment::write(array(
 		'debug' => 2,
 		'Security.salt' => '', // 40 charaters long Security.salt
 		'Security.cipherSeed' => '', // 29 digits long Security.cipherSeed
 		'Config.timezone' => 'Asia/Hong_Kong',

        'physical_source' => '/var/www/html/VN/shkp-happy-fans-club/www/',
 		'Session' => array(
 			'defaults' => 'php',
			'timeout' => 240, // 4 hours
 			'cookie' => 'acx_pos_staging' // Cookie name
 		),

		'redis' => array(
			'engine' => 'Redis',
			'prefix' => 'shkp',
			'server' => '127.0.0.1',
			'database' => 0,
			'port' => 6379,
			'password' => false,
			'timeout' => 0,
			'persistent' => true,
			'unix_socket' => false
		),		

 		'database' => array(
			'host' => 'localhost',
			'login' => '',
			'password' => '',
			'db' => '',
			'prefix' => 'acx_',
			'encoding' => 'utf8mb4',
			'unix_socket' => '/var/run/mysqld/mysqld.sock'
		),

        'email' => array(
			'receiver' => 'ivan.pujianto@vtl-vtl.com',
            'transport' => 'Smtp',
			'host' => 'ssl://smtp.gmail.com',
			'port' => 465,
            'timeout' => '',
            'from' => array('ivan.pujianto@vtl-vtl.com' => 'VTL Admin'),
			'username' => 'ivan.pujianto@vtl-vtl.com',
			'password' => '',
			'emailFormat' => 'html',
			'charset' => 'utf8',
			'headerCharset' => 'utf8',
			'log' => '',
            'tls' => true
		),
		
		'web' => array(
			'url_host' => '',
			'url_img' => '',
			'limit_record' => 10
 		),

		'push' => array(
			'ios' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			),
			'aos' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			)
		),

 		'site' => array(
			'default_language' => 'eng',
			'available_languages' => array( 'eng', 'zho' ),
 			'name' => 'ACX', // Site name
 			'description' => '', // Site description in meta tag
 			'keywords' => '', // Site keywords in meta tag
 			'cache_prefix' => 'acx_staging_' // cache prefix
 		),
		
		'poweredby' => array(
			'name' => 'VTL Solutions Ltd.',
			'website' => 'http://vtl-vtl.com'
		)
	), 'staging');

	/**
	 * Production settings
	 */
	Environment::write(array(
 		'debug' => 0,
 		'Security.salt' => '', // 40 charaters long Security.salt
 		'Security.cipherSeed' => '', // 29 digits long Security.cipherSeed
 		'Config.timezone' => 'Asia/Hong_Kong',

        'physical_source' => '',
 		'Session' => array(
 			'defaults' => 'php',
			'timeout' => 240, // 4 hours
 			'cookie' => 'acx_pos' // Cookie name
		),

		'redis' => array(
			'engine' => 'Redis',
			'prefix' => 'shkp',
			'server' => '127.0.0.1',
			'database' => 0,
			'port' => 6379,
			'password' => false,
			'timeout' => 0,
			'persistent' => true,
			'unix_socket' => false
		),		

        'database' => array(
			'host' => 'localhost',
			'login' => '',
			'password' => '',
			'db' => '',
			'prefix' => 'acx_',
			'encoding' => 'utf8mb4',
			'unix_socket' => '/opt/lampp/var/mysql/mysql.sock'
		),

        'email' => array(
			'receiver' => '',
            'transport' => '',
			'host' => '',
			'port' => 465,
            'timeout' => '',
            'from' => array('' => ''),
			'username' => '',
			'password' => '',
			'emailFormat' => 'html',
			'charset' => 'utf8',
			'headerCharset' => 'utf8',
			'log' => '',
            'tls' => true
		),
		
		'web' => array(
			'url_host' => '',
			'url_img' => '',
        ),

		'push' => array(
			'ios' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			),
			'aos' => array(
				'server_key' => '',
				'sender_id' => '121832284192',
				'server_feedback_url' => 'https://fcm.googleapis.com/fcm/send',
				'sandbox' => true
			)
		),

 		'site' => array(
			'default_language' => 'eng',
			'available_languages' => array( 'eng', 'zho' ),
 			'name' => 'ACX', // Site name
 			'description' => '', // Site description in meta tag
 			'keywords' => '', // Site keywords in meta tag
 			'cache_prefix' => 'acx_' // cache prefix
 		),
		
		'poweredby' => array(
			'name' => 'VTL Solutions Ltd.',
			'website' => 'http://vtl-vtl.com'
		)
	), 'production');

?>